# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual environments
# ===============================
.env
.venv
venv/
ENV/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Data (IMPORTANT)
# ===============================
data/raw/
data/processed/
*.zip
*.jpg
*.jpeg
*.png

# Allow metadata CSV explicitly
!data/metadata/*.csv

# ===============================
# Models & checkpoints
# ===============================
*.pt
*.pth
*.h5
*.ckpt

# ===============================
# Logs
# ===============================
*.log
logs/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db


# ===============================
# IDEs
# ===============================
.vscode/
.idea/
